<link rel="import" href="../../components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="comic-dm">

  <template>
    <cells-generic-dp
      id="comicDP"
      host="https://avapi-avapi.1d35.starter-us-east-1.openshiftapps.com/v4/cuentas/movimientos/89"
      method="GET">
    </cells-generic-dp>
  </template>


  <script>

// Define the element's API using an ES2015 class
  class ComicDM extends Polymer.Element {
    static get is() {
      return 'comic-dm';
    }
  // Declare properties for the element's public API
    static get properties() {
      return {
        idcuenta: {
          type: Number,
          notify: true
        },
        movimientos:{
          type: Object,
          notify:true
        },
        number: {
          type: Number,
          notify: true
        },
        image: {
          type: String,
          notify: true
        },
        title: {
          type: String,
          notify: true
        },
        date: {
          type: Object,
          notify: true
        },
        alt: {
          type: String,
          notify: true
        },
        transcript: {
          type: String,
          notify: true
        },
        label: {
          type: String,
          notify: true,
          computed: '_computeLabel(title, date)'
        }
      };
    }

    ready() {
      super.ready();
      this.addEventListener('request-success', this._onRequestOk);
      this.addEventListener('request-error', this._onRequestError);
      //this.todayNumber = undefined;
    }

    _computeLabel(title, date){
      let label = '';
      if (title && date) {
        label = `${title}. Published in ${date.day}/${date.month}/${date.year}`;
      }
      return label;
    }

    getCurrent() {

      this.$.comicDP.generateRequest();
      console.log ("set movimientos en current")

      this.dispatchEvent(new CustomEvent('comic-request-start'));
    }

    getPrevious() {
      this.todayNumber--;
      this.$.comicDP.generateRequest();
      this.dispatchEvent(new CustomEvent('comic-request-start'));
    }



    getNext() {
        //this.$.comicDP.path = `http://xkcd.com/${this.number+1}/info.0.json`;
      this.todayNumber++;
      this.$.comicDP.generateRequest();
      this.dispatchEvent(new CustomEvent('comic-request-start'));
    }

    _onRequestOk(evt) {
      let data = evt.detail;
      //console.log (evt.detail[0].movimientos);
      this.idcuenta=evt.detail[0].idCuenta;
      this.movimientos = [];

      if(this.todayNumber==undefined){
        console.log("llamada de primera vez")
        this.todayNumber=1;
      }
      console.log(this.todayNumber)

      if(evt.detail[0].movimientos.length>0){
        let tmpArray = [];
        /*evt.detail[0].movimientos.forEach((element) => {
        //console.log(element);
        console.log(this);

         tmpArray.push({'name':element.descripcion,
        'description':{'value':this.idcuenta,'masked':false, 'content':'Cuenta Basica'},
        'primaryAmount':{'amount':element.importe, 'currency':'MXN'}});

      });*/
      let tmpMov = evt.detail[0].movimientos[this.todayNumber-1];
      tmpArray.push({'name':tmpMov.descripcion,
     'description':{'value':this.idcuenta,'masked':false, 'content':'Cuenta Basica'},
     'primaryAmount':{'amount':tmpMov.importe, 'currency':'MXN'}});
        this.movimientos= tmpArray;
        console.log(this.movimientos);
      }
      let latitud =(Math.random() * (180 - (-180)) + (-180)).toFixed(3) * 1;
      let longitud =(Math.random() * (180 - (-180)) + (-180)).toFixed(3) * 1;
      this.image="https://maps.googleapis.com/maps/api/staticmap?center="+latitud+","+longitud+
      "&zoom=6&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true";

      if(this.todayNumber === 1) {
          this.dispatchEvent(new CustomEvent('comic-first-reached'));
          console.log ("todayNumer===1")
      } else if (this.todayNumber < evt.detail[0].movimientos.length){
        this.dispatchEvent(new CustomEvent('comic-more-left'));
        console.log ("entre 1 y 10")
      }else if (this.todayNumber === evt.detail[0].movimientos.length){
        this.dispatchEvent(new CustomEvent('comic-last-reached'));
        console.log ("mocimiento 10")
      }

      this.dispatchEvent(new CustomEvent('comic-request-ok'), data);
    }


    _onRequestError(err) {
      this.dispatchEvent(new CustomEvent('comic-request-error'));
    }

  }
  // Register the custom element with the browser
  customElements.define(ComicDM.is, ComicDM);

  </script>

</dom-module>
