<link rel="import" href="../../components/cells-st-button/cells-st-button.html">

<dom-module id="button-play">

  <template>
    <cells-st-button id="previousBtn" class="full">
      <button disabled$=[[disabledPrevious]]>Previous</button>
    </cells-st-button>


    <cells-st-button id="nextBtn" class="full">
      <button disabled$=[[disabledNext]]>Next</button>
    </cells-st-button>
    <style>
      cells-st-button {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
      }
    </style>
  </template>

  <script>
  class ButtonPlay extends Polymer.Element {
    static get is() {
      return 'button-play';
    }

    static get properties() {
      return {
        disabledPrevious: {
          type: Boolean,
          value: false,
          notify: true
        },
        disabledNext: {
          type: Boolean,
          value: false,
          notify: true
        }
      }
    }

    disableNext() {
      this.disabledNext = true;
    }

    enableNext() {
      this.disabledNext = false;
    }

    disablePrevious() {
      this.disabledPrevious = true;
    }

    enablePrevious() {
      this.disabledPrevious = false;
    }

    enableButtons() {
      this.enableNext();
      this.enablePrevious();
    }

    ready() {
      super.ready();
      this.$.previousBtn.addEventListener('click', this._previousClicked.bind(this));

      //this.$.todayBtn.addEventListener('click', this._todayClicked.bind(this));
      this.$.nextBtn.addEventListener('click', this._nextClicked.bind(this));
    }
    _previousClicked(evt) {
      this.dispatchEvent(new CustomEvent('previous-clicked', {composed: true, bubbles: true}));
    }

    _todayClicked(evt) {
      this.dispatchEvent(new CustomEvent('today-clicked', {composed: true, bubbles: true}));
    }
    _nextClicked(evt) {
      this.dispatchEvent(new CustomEvent('next-clicked', {composed: true, bubbles: true}));
    }
  }
  customElements.define(ButtonPlay.is, ButtonPlay);
  </script>
</dom-module>
