<custom-style>
    <style is="custom-style">
    cells-image-card {
      --cells-image-card-wrapper-card-header-heading-text: {
        font-family: "Arial";
        font-style: normal;
        font-size: 16px;
        color: #072146;
        text-align: center;
      };

      --cells-image-card-wrapper-image: {
        position: relative;
        height: 50vw;
        max-height: 550px;
        margin-left: auto;
        margin-right: auto;
      };

      --cells-image-card-wrapper-image-img: {
        width: 100%;
        height: 50vw;
        max-height: 540px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      };
      --cells-image-card-wrapper-image-row: {

      };

    }

    button-play {
      margin: auto;
      width: 40%;
      display: flex;
    }

    </style>
  </custom-style>
